<div class="mb-4"><%= form_with url: publisher_path(@publisher), method: :get, local: true do |form| %>
  <%= form.label :q, "Search Books:" %>
  <%= form.text_field :q, placeholder: "Enter book title or keyword..." %>
  <%= form.submit "Search" %>
<% end %></div>

<h1 class="title is-2"><%= @publisher.publisher_name %></h1>
<p class="mb-5">
  <em>
    Printed <%= @publisher.books.count %> books on the list from highest to lowest gross sales
  </em>
</p>

<div class="content">
  <ol>
    <% @books.each do |book| %>
      <li>
        <%= link_to book.book_name, book %>
        (<%= number_to_currency(book.gross_sales) %>)
      </li>
    <% end %>
  </ol>
</div>
